.month_change {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.table_wrapper {
    width: 100%;
    max-width: 1200px;
    overflow: scroll;
}

.searchBox{
    display: inline-block;
    margin-left:20px;
}

.searchCount{
    display: inline-block; 
    margin-left:50px;
}

#calendar_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: scroll;
}

#calendar_table tr th,
#calendar_table tr td {
    border: 1px solid #0e0909;
    padding: 10px;
}

#calendar_table tr th {
    background-color: #15d2d5;
    width: 100%;
}

#calendar_table tr th.header_days {
    text-align: left;
}

#calendar_table tr.days th {
    padding: 5px;
    font-size: 14px;
}

